@page "/reset-password"

@using System.Security.Claims
@using Annie_API.DTOs
@using Microsoft.AspNetCore.Components.Authorization

@inject HttpClient Http
@inject NavigationManager Nav

<h3>Password Recovery</h3>

<EditForm Model="email" OnValidSubmit="@HandleReset" FormName="PasswordRecoveryForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group mb-3">
        <label>Email:</label>
        <InputText class="form-control" @bind-Value="email.email" />
        <ValidationMessage For="@(() => email.email)" />
    </div>

     
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger mt-3">
            @errorMessage
        </div>
    }

    <button type="submit" class="btn btn-primary">Send Password Reset Email</button>
</EditForm>


@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; } = null!;

    private ClaimsPrincipal? claimsPrincipal;
    private EmailDTO email = new();
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        if (authState == null) return;

        claimsPrincipal = authState.User;

        if (claimsPrincipal.Claims.Count() != 0)
        {
            Nav.NavigateTo("/");
        }
    }

    private async Task HandleReset()
    {
        var response = await Http.PostAsJsonAsync("api/auth/ResetPassword", email);

        if (response.IsSuccessStatusCode)
        {
            Nav.NavigateTo("/");
            return;
        }
        else
        {
            errorMessage = await response.Content.ReadAsStringAsync();
            return;
        }
    }
}
