@page "/register"

@rendermode InteractiveServer

@using AnniePlus.Services
@using Microsoft.EntityFrameworkCore
@using Annie_API.Models
@using Annie_API.DTOs

@inject HttpClient Http
@inject NavigationManager Nav
@inject ILoginService LoginService


<PageTitle>Create Session</PageTitle>

<h3>Register</h3>

<EditForm Model="newUser" OnValidSubmit="@HandleRegister" FormName="RegisterForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group mb-3">
        <label>Name:</label>
        <InputText class="form-control" @bind-Value="newUser.Name"/>
        <ValidationMessage For="@(() => newUser.Name)" />
    </div>

    <div class="form-group mb-3">
        <label>Email:</label>
        <InputText class="form-control" @bind-Value="newUser.Email"/>
        <ValidationMessage For="@(() => newUser.Email)" />
    </div>

    <div class="form-group mb-3">
        <label>Password:</label>
        <InputText type="password" class="form-control" @bind-Value="newUser.Password"/>
        <ValidationMessage For="@(() => newUser.Password)" />
    </div>
     
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger mt-3">
            @errorMessage
        </div>
    }

    <button type="submit" class="btn btn-primary">Sign Up</button>

</EditForm>


@code {
    private RegisterUserRequest newUser = new();
    private string? errorMessage;

    private async Task HandleRegister()
    {
        var response = await Http.PostAsJsonAsync("api/register", newUser);

        if (response.IsSuccessStatusCode)
        {
            var token = await response.Content.ReadFromJsonAsync<TokenDTO>(new System.Text.Json.JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true
            });
            if (token != null)
            {
                await LoginService.LoginAsync(token.Token);
                Nav.NavigateTo("/");
            }
            else errorMessage = "Error Registering User";
        }
        else
        {
            errorMessage = await response.Content.ReadAsStringAsync();
        }
    }
}