<div class="top-row">
    <a class="navbar-brand" href="/">aura<span class="brand-alt">nnie</span><sup>+</sup></a>
    <div class="nav-pills-custom">
        <NavLink class="nav-pill-custom" href="/schedule">Class Schedule</NavLink>
        <NavLink class="nav-pill-custom" href="/bookings">My Account</NavLink>
    </div>
</div>

