@page "/"
@rendermode InteractiveServer
@using Syncfusion.Blazor.Navigations

<div class="hero">
    <div class="anim-circle"></div>
    <h1 class="wordmark">aurannie+</h1>
    <div class="btns">
        <a href="/login" class="btn btn-secondary">Sign in</a>
        <a href="/register" class="btn btn-primary">Begin</a>
    </div>
</div>