@using Microsoft.AspNetCore.Components
@inject AuthenticationStateProvider AuthProvider

@if (visible)
{
    <div class="popup" @onclick="close">
        <div class="popup-container" @onclick:stopPropagation="true">
            @ChildContent
        </div>
    </div>       
}

@code 
{
    [Parameter] public bool visible { get; set; }
    [Parameter] public EventCallback<bool> visibleChanged {get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private async Task close()
    {
        visible=false;
        await visibleChanged.InvokeAsync(visible);
    }
}