@using Microsoft.AspNetCore.Components

@if (Visible)
{
    <div class="popup" @onclick="close">
        <div class="popup-container" @onclick:stopPropagation="true">
            @ChildContent
        </div>
    </div>       
}

@code 
{
    [Parameter] public bool Visible { get; set; }
    [Parameter] public EventCallback<bool> VisibleChanged {get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private async Task close()
    {
        Visible=false;
        await VisibleChanged.InvokeAsync(Visible);
    }
}